RewriteEngine on
Options -Indexes
ErrorDocument 404 default
RewriteRule ^favicon\.ico$ public/favicon.ico
RewriteCond %{REQUEST_URI} !^/public
RewriteCond %{REQUEST_URI} !^/sync
RewriteCond %{REQUEST_URI} !^/BingSiteAuth.xml
RewriteRule ^(.*)$ index.php