# Starts rewrite engine
RewriteEngine on
# Prevents directory listing on your application
Options -Indexes
# Redirects 404 errors on public/ files to default handler
ErrorDocument 404 default
# Bypasses public files from redirection
RewriteCond %{REQUEST_URI} !^/public
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !\.(css|js|png|jpg)$
# Redirects all requests to bootstrap, except those pointing at public/ folder
RewriteRule ^(.*)$ index.php