<site:top title="${data.page_info.head_title}" description="${data.page_info.head_description}" menu="${data.menu_top}" page="page-404"/>
	<div class="container">
		<div class="page-404">
			<h1 class="page-404-title">404</h1>
			<h2 class="page-404-subtitle">Oops, we can't seem to find the page you are looking for.</h2>
			<div class="page-404-btn-holder">
				<a href="/" class="btn btn-middle">GO BACK TO HOMEPAGE</a>
			</div>
			<div class="page-404-small">or you'll be redirected in 10 seconds</div>
		</div>
		<script>
		    setTimeout(function () {
		        window.location.href = "/";
		    }, 10000)
		</script>
	</div>
<site:bottom menu="${data.menu_top}"/>