<site:top title="${data.page_info.head_title}" description="${data.page_info.head_description}" menu="${data.menu_top}" page="blog"/>
   <div class="block">
      <div class="container">
         <div class="headeing">
            <h1 class="title">${data.page_info.body_title}</h1>
            <div class="subtitle">
               <div class="js-condense">
                  <span>${(isset(${data.tms.upper_text})?${data.tms.upper_text}:"")}</span>
               </div>
            </div>
         </div>
         <div class="cards-list">
            <box:article data="${data.results}" folder="data.uploadsFolders" total="${data.total}"/>
         </div>

         <site:pagination/>
      </div>
   </div>
<site:bottom menu="${data.menu_top}"/>