 <:foreach var="${data.results}" val="article">
                <div class="wrap-card">
                   <a href="/${article.type}/${normalize(${article.title})}" class="card">
                      <div class="card-img">
                         <img src="${data.uploadsFolders.${article.id}}" width="288" height="205" alt="${article.title}">
                      </div>
                      <div class="card-footer">
                         <div class="card-title">${article.title}</div>
                         <div class="card-description">${substr(${article.description},0,100)}</div>
                         <ul class="info-list">
                            <li class="item">${format_filter_date(${article.date_added},'M d, Y')}</li>
                            <li class="item">${article.min_read} min read</li>
                            <li class="item">${article.rating.likes} liked</li>
                         </ul>
                      </div>
                   </a>
                </div>
           </:foreach>