<site:top title="${data.page_info.head_title}" description="${data.page_info.head_description}" menu="${data.menu_top}" page="blog-single">
    <!-- Article Heading -->
    <div class="article-heading">
        <!-- Image -->
        <:if test="!empty(${data.title_image_desktop})">
        <!--Image Desktop-->
        <img class="img-desktop" src="${data.title_image_desktop}" width="1920" height="274"/>
        <:else>
        <img src="${get_img_dir()}/articles/${normalize(${data.article.title})}.jpg" width="1920" height="274"
             alt="${data.article.title}">
        </:if>

        <!-- Image Mobile -->
        <:if test="!empty(${data.title_image_mobile})">
        <img class="img-mobile" src="${data.title_image_mobile}" width="640" height="453"/>
        <:else>
        <img src="${get_img_dir()}/articles/${normalize(${data.article.title})}.jpg" width="1920" height="274"
             alt="${data.article.title}">
        </:if>

        <div class="article-heading-overlay">
            <h1 class="article-heading-title">${data.article.title}</h1>
            <ul class="article-heading-list">
                <li><:if test="!empty(${data.article.date_added})">${datef(${data.article.date_added})}</:if></li>
                <li><:if test="!empty(${data.article.min_read})">${data.article.min_read} min read</:if></li>
            </ul>
        </div>
    </div>

    <div class="plain-text article-single">
        <div class="container subtitle">
            <:if test="!empty(${data.tms_article.content})">
            ${h2_to_tile( ${data.tms_article.content})}
            </:if>
        </div>
        <:if test="count(${data.tags}) > 0">
            <box:inline-list data="${data.tags}" label="Tags"/> 
        </:if>
        <div class="vote-block">
            <h3 class="vote-block-title">Did you like this article?</h3>
            <div class="vote-block-holder js-vote">
                <a href="#" class="vote-button vote-block-item like" data-type="article" data-success="1"
                   data-id="${data.article.id}">
                    <div class="vote-block-num bubble-like">${data.article.rating.likes}</div>
                    <i class="icon-icon_likes"></i>
                </a>
                <a href="#" class="vote-button vote-block-item dislike" data-type="article" data-success="0"
                   data-id="${data.article.id}">
                    <div class="vote-block-num bubble-dislike">${data.article.rating.dislikes}</div>
                    <i class="icon-icon_dislikes"></i>
                </a>
            </div>
            <div class="success action-field center">
                <i class="icon-icon_available"></i>
                Thank you for vote.
            </div>
            <div class="success action-field">
                You already voted.
            </div>
        </div> 
    </div>

    <!--Related articles-->
    <:if test="count(${data.related}) > 0">
    <div class="container js-articles">
        <h2 class="title-name"><span>Read Next</span></h2>
        <div class="cards-list">
            <box:article data="${data.related}" folder="data.relateduploadsFolders" total="0"/>
        </div>
        <div class="btn-holder">
            <a href="/blog" class="btn-bordered load js-more-items">SEE ALL ARTICLES</a>
        </div>
    </div>
    </:if>
    <site:bottom menu="${data.menu_top}"/>
