<:set var="bonus_type" val="${data.bonus.type}"/>
<:if test="${bonus_type} == 'Free Play'">
    <:set var="bonus_type" val="Free Bonus"/>
</:if>

<:set var="block_class" val="bonus-free"/>
<:set var="bonus_icon" val="icon-icon_bonuses"/>

<:if test="${bonus_type} == 'First Deposit Bonus'">
    <:set var="block_class" val="bonus-first"/>
    <:set var="bonus_icon" val="icon-free-bonus-icon"/>
</:if>

<div>
    <pre>${var_dump(${data.bonus.name})}</pre>
</div>

<div class="tooltip-content ${block_class}">
    <div class="tooltip-templates-heading">
        <div class="tooltip-templates-title">${data.bonus.type}</div>
        <div class="tooltip-templates-button">
            <a href="/visit/" target="_blank" rel="nofollow" class="btn btn-small">VISIT CASINO</a>
        </div>
    </div>
    <div class="tooltip-templates-body">
        <div class="bonus-box">
            <div class="bonus-box-heading">
                <span>${data.bonus.amount} ${bonus_type}</span>
            </div>  
            <div class="bonus-box-body">
                <:set var="code_class" val=""/>
                <:if test="${data.bonus.code} != 'No code required'">
                    <:set var="code_class" val="js-copy-to-clip js-copy-tooltip"/>
                </:if>

                <div class="bonus-box-btn dashed ${code_class}" data-code="${data.bonus.code}">${data.bonus.code}</div>
                <:unset var="code_class"/>

                <ul class="bonus-box-list">
                    <li>
                        <span class="bonus-box-list-label">Wagering</span>
                        <strong class="bonus-box-wagering">${data.bonus.wagering}</strong>
                    </li>
                    <li>
                        <span class="bonus-box-list-label">Games allowed</span>
                        <strong class="list-item-flex">
                            <span class="list-item-trun">${data.bonus.games_allowed}</span>
                            <span class="bubble js-tooltip tooltipstered" title="${data.bonus.games_allowed}">More</span>
                        </strong>
                    </li>
                    <li>
                        <span class="bonus-box-list-label">Min. deposit</span>
                        <:if test="${data.bonus.min_deposit} != ''">
                            <strong>${data.bonus.min_deposit}</strong>
                        <:else>
                            <strong class="success">Free</strong>
                        </:if>
                    </li>
                </ul>
            </div>
            <div class="bonus-box-circle">
                <i class="${bonus_icon}"></i>
            </div>
        </div>
    </div>
</div>