<std:set name="page" value="casinos"/>

<import file="templates/include-header"/>
	<div class="links-casinos">
		<block:links-carousel/>
	</div>
	<div class="block">
		<div class="container">
			<div class="headeing">
				<h1 class="title">${data.page_info.body_title}</h1>
				<div class="subtitle">
					<p class="js-condense"></p>
				</div>
			</div>
			
			<filter:casinos/>

			<div class="data-container-holder">
				<div class="holder">
					<div class="data-container" data-type="${get_page_type()}" data-type-value="${data.selected_entity}">
						<div class="qty-items">${data.total_casinos} results</div>
						<std:if condition="${data.selected_entity} == 'New'">
							<item:casino type="ESTABLISHED" id="1" data="${data.casinos}"/>
						<std:else>
							<item:casino type="SOFTWARE" id="1" data="${data.casinos}"/>
						</std:if>
					</div>
					<div class="data-add-container" data-total="${data.total_casinos}"></div>
				</div>
				<import file="templates/include-reset-filters"/>
			</div>

			<std:if condition="${data.total_casinos} > 24">
				<div class="btn-holder">
					<a href="#" class="btn-bordered load js-more-items">LOAD MORE CASINOS</a>
				</div>
			</std:if>
		</div>
	</div>
<import file="templates/include-footer"/>