<site:top title="${data.page_info.head_title}" description="${data.page_info.head_description}" menu="${data.menu_top}" page="casinos"/>
	<div class="links-casinos">
		<site:links-carousel items="${data.menu_bottom}"/>
	</div>
	<div class="block">
		<div class="container">
			<div class="headeing">
				<h1 class="title">${data.page_info.body_title}</h1>
				<div class="subtitle">
					<div class="js-condense"><span>${(isset(${data.tms.upper_text})?${data.tms.upper_text}:"")}</span></div>
				</div>
			</div>

			<std:if condition="isset(${data.currency})">
				<filter:casinos id="${data.selected_entity}" name="${data.currency}" code="${data.language}" key="true"/>
			<std:else>
				<filter:casinos id="${data.selected_entity}" name="${data.country.name}" code="${data.country.code}"  key="false"/>
			</std:if>

			<div class="data-container-holder">
				<div class="holder">
					<div class="data-container" data-type="${data.page_type}" data-type-value="${data.selected_entity}">
						<div class="qty-items" data-load-total="${data.total_casinos}">${data.total_casinos} results</div>
						<std:if condition="${data.selected_entity} == 'New'">
							<casino:list type="ESTABLISHED" id="1" data="${data.casinos}"/>
						<std:else>
							<casino:list type="SOFTWARE" id="1" data="${data.casinos}"/>
						</std:if>
					</div>
					<div class="data-add-container" data-total="${data.total_casinos}"></div>
				</div>
				<filter:reset/>
			</div>

			<std:if condition="${data.selected_entity} != 'Best'">
				<std:if condition="${data.total_casinos} > count(${data.casinos})">
					<div class="btn-holder">
						<a href="#" class="btn-bordered load js-more-items">
							LOAD MORE CASINOS</a>
					</div>
				</std:if>
			</std:if>
		</div>
	</div>
<site:bottom menu="${data.menu_top}"/>
