<site:top title="${data.page_info.head_title}" description="${data.page_info.head_description}" menu="${data.menu_top}" page="casinos"/>
	<div class="links-casinos">
		<site:links-carousel items="${data.menu_bottom}"/>
	</div>
	<div class="block">
		<div class="container">
			<div class="headeing">
				<h1 class="title">${data.page_info.body_title}</h1>
				<div class="subtitle">
					<div class="js-condense"><span>${(isset(${data.tms.upper_text})?${data.tms.upper_text}:"")}</span></div>
				</div>
			</div>

			<:if test="isset(${data.currency})">
				<filter:casinos id="${data.selected_entity}" name="${data.currency}" code="${data.language}" key="true"/>
			<:else>
				<filter:casinos id="${data.selected_entity}" name="${data.country.name}" code="${data.country.code}"  key="false"/>
			</:if>

			<div class="data-container-holder">
				<div class="holder">
				    <:set var="low_wagering_class" val="(${data.selected_entity} == 'Low Wagering' ? 'low_wagering_list' : ''  )"/>
					<div class="data-container ${low_wagering_class}" data-type="${data.page_type}" data-type-value="${data.selected_entity}">
						<div class="qty-items" data-load-total="${data.total_casinos}">${data.total_casinos} results</div>
						<:if test="${data.selected_entity} == 'New'">
							<casino:list type="ESTABLISHED" id="1" data="${data.casinos}"/>
						<:elseif test="${data.selected_entity} == 'Low Wagering'">
							<casino:list type="BONUS FOR NEW PLAYERS" id="1" data="${data.casinos}"/>
						<:else>
							<casino:list type="SOFTWARE" id="1" data="${data.casinos}"/>
						</:if>
					</div>
					<div class="data-add-container ${low_wagering_class}" data-total="${data.total_casinos}"></div>
				</div>
				<filter:reset/>
			</div>


			<:if test="${data.selected_entity} != 'Best'">
				<:if test="${data.total_casinos} > count(${data.casinos})">
					<div class="btn-holder">
						<a href="#" class="btn-bordered load js-more-items">
							LOAD MORE CASINOS</a>
					</div>
				</:if>
			</:if>
		</div>
	</div>
        <div class="subtitle">
            <div class="js-condense"><span>${(isset(${data.tms.lower_text})?${data.tms.lower_text}:"")}</span></div>
        </div>
<site:bottom menu="${data.menu_top}"/>
