<:set var="page" val="casinos-list"/>

<div class="aj-content">
	<div class="qty-items" data-load-total="${data.total_casinos}">${data.total_casinos} results</div>
	<:if test="isset($_GET['label']) && $_GET['label'] == 'New'">
		<casino:list type="ESTABLISHED" id="${data.casinos.0.id}" data="${data.casinos}"/>
        <:elseif test="isset($_GET['label']) && $_GET['label'] == 'Fast-Payout'">
                <casino:list type="WITHDRAWAL" id="${data.casinos.0.id}" data="${data.casinos}"/>
        <:else>
		<casino:list type="SOFTWARE" id="${data.casinos.0.id}" data="${data.casinos}"/>
	</:if>
	<div class="data-add-container" data-total="${data.total_casinos}"></div>
</div>

