<site:top title="${data.page_info.head_title}" description="${data.page_info.head_description}" menu="${data.menu_top}" page="casino-warning"/>

	<div class="warning">
		<div class="container">
			<div class="warning-heading">
				<h1 class="warning-title">${data.page_info.body_title}</h1>
				<div class="warning-img">
					<img src="${data.casino.logo_big}" width="124" height="82" alt="${data.casino.name} Logo" title="${data.casino.name}">
				</div>
			</div>
		</div>
		<div class="container">
			<div class="box">
				<h2 class="title title-middle">${data.casino.name} is not recommended by us. Here is why:</h2>
				<div class="warning-text">${data.casino.note}</div>
				<div class="warning-warn">Still want to visit ${data.casino.name}?</div>
				<a href="${data.casino.affiliate_link}" target="_blank" rel="nofollow" class="btn btn-danger">I UNDERSTAND THE RISKS</a>
			</div>
		</div>
	</div>

    <:if test="count(${data.recommended_casinos}) > 0">
        <div class="related">
            <div class="container">
                <div class="headeing">
                    <div class="title title-middle">We recommend the following casinos</div>
                </div>
                <casino:list type="SOFTWARE" id="1" data="${data.recommended_casinos}"/>
            </div>
        </div>
    </:if>
<site:bottom menu="${data.menu_top}"/>