<std:set name="page" value="games"/>

<import file="templates/include-header"/>
	<block:links-carousel-games type="${data.game.type}" data="${data.game_types}"/>

	<div class="block">
		<div class="container">
			<div class="player-title">
				<div class="title">${data.game.name}</div>
				<span class="game-played">
					<span class="game-play">
						<i class="icon-times_played_icon"></i>
					</span>
					Times played: ${data.game.times_played}
				</span>
			</div>
			<div id="player-wrap" class="player-wrap">
				<div class="player">
					<div class="player-holder">
						<std:if condition="${data.game.play.status} == 'auto-play'">

							<iframe scrolling="no" id="single-play" class="play-demo js-run-counter" data-name="${data.game.name}" src="${data.game.play.url}" width="${data.game.play.width}" height="${data.game.play.height}"></iframe>
						<std:elseif condition="${data.game.play.status} == 'click-popup-play'">
							<img class="player-img" src="${data.game.play.screenshot}" alt="${data.game.name}">
							<div class="player-overlay"></div>
							<div class="player-play" id="go-to-page" data-name="${data.game.name}" data-width="${data.game.play.width}" data-height="${data.game.play.height}">
								<i class="icon-play"></i>
							</div>

						<std:elseif condition="${data.game.play.status} == 'redirect'">
							<iframe style="display:none;" scrolling="no" id="single-play" class="play-demo" src="" width="${data.game.play.width}" height="${data.game.play.height}"></iframe>
							<img class="player-img" src="${data.game.play.screenshot}" alt="${data.game.name}">
							<div class="player-overlay"></div>
							<div class="player-play" id="go-to-frame" data-name="${data.game.name}" data-url="${data.game.play.url}">
								<i class="icon-play"></i>
							</div>
							
						</std:if>
					</div>
				</div>
				<div class="player-controls">
					<a href="#" class="player-controls-btn" id="play-replay" >
						<i class="icon-spinner"></i>
					</a>
					<a href="#" class="player-controls-btn" id="play-fullscreen">
						<i class="icon-enlarge"></i>
						<svg viewBox="206.18 80 18 18"><path d="M19.666,3.09,15.12,7.635V4.009H13.1V11.08h7.071V9.06H16.545L21.09,4.514,19.666,3.09M4.009,13.1v2.02H7.635L3.09,19.666,4.514,21.09,9.06,16.545v3.626h2.02V13.1Z" transform="translate(203.09 76.91)"></path></svg>
					</a>
				</div>
			</div>
			<div class="game-info">
				<h3 class="title title-small">Game info</h3>
				<div class="game-info-table">
					<div class="game-info-cell">
						<div class="game-info-title">GAME TYPE</div>
						<div class="game-info-val">${data.game.type}</div>
					</div>
					<div class="game-info-cell">
						<div class="game-info-title">SOFTWARE</div>
						<div class="game-info-val">${data.game.software}</div>
					</div>
					<div class="game-info-cell">
						<div class="game-info-title">RELEASE DATE</div>
						<div class="game-info-val">${date("M d, Y",  strtotime(${data.game.release_date}))}</div>
					</div>
					<div class="game-info-cell">
						<div class="game-info-title">TECHNOLOGY</div>
						<div class="game-info-val">
							<std:set name="numItems" value="count(${data.game.technologies})"/>
							<std:set name="i" value="0"/>
							<std:foreach var="${data.game.technologies}" value="result">
							      ${result}
							      <std:set name="i" value="${i}+1"/>
							      <std:if condition="${i}+1 < ${numItems}">, </std:if>
							</std:foreach>
						</div>
					</div>
					<div class="game-info-cell">
						<div class="game-info-sign">
							<std:if condition="${data.game.is_mobile}">
								<i class="icon-icon_available"></i>
							<std:else>
								<i class="icon-icon_unavailable"></i>
							</std:if>
						</div>
						<div class="game-info-title">MOBILE</div>
					</div>
					<div class="game-info-cell">
						<div class="game-info-sign">
							<std:if condition="${data.game.is_3d}">
								<i class="icon-icon_available"></i>
							<std:else>
								<i class="icon-icon_unavailable"></i>
							</std:if>
						</div>
						<div class="game-info-title">3D ANIMATION</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="block game-description">
		<div class="container">
			<h3 class="title title-small">Game overview</h3>
			<p>${data.game.overview}</p>
		</div>
	</div>

	<div class="block related">
		<div class="container">
			<div class="headeing">
				<div class="title title-middle">We recommend the following casinos</div>
			</div>
			<item:casino type="SOFTWARE" id="1" data="${data.recommended_casinos}"/>
		</div>
	</div>

	<div class="block related">
		<div class="container">
			<div class="headeing">
				<div class="title title-middle">Similar games</div>
			</div>
			<item:game data="${data.recommended_games}"/>
		</div>
	</div>
<import file="templates/include-footer"/>
