<std:set name="page" value="games"/>

<import file="templates/include-header"/>
	<div class="links-games">
		<block:links-carousel/>
	</div>
	<div class="block">
		<div class="container">
			<div class="headeing">
				<h1 class="title">${data.page_info.body_title}</h1>
				<div class="subtitle">
					<p class="js-condense"></p>
				</div>
			</div>
			
			<filter:games/>

			<div class="data-container-holder data-games">
				<div class="holder">
					<div class="data-container" data-type-value="${data.selected_entity}">
						<item:game data="${data.games}"/>
					</div>
					<div class="data-add-container" data-total="${data.total_games}"></div>
				</div>
				<import file="templates/include-reset-filters"/>
			</div>

			<std:if condition="${data.total_games} > 23">
				<div class="btn-holder">
					<a href="#" class="btn-bordered load js-more-items">LOAD MORE GAMES</a>
				</div>
			</std:if>

		</div>
	</div>
<import file="templates/include-footer"/>