<site:top title="${data.page_info.head_title}" description="${data.page_info.head_description}" menu="${data.menu_top}" page="games"/>

	<!-- for secondary navigation use: <div class="links-casinos"> site:links-carousel items="${data.menu_bottom}" </div> -->

	<div class="block">
		<div class="container">
			<div class="player-title">
				<h1 class="title">${data.page_info.body_title}</h1>
				<span class="game-played">
					<span class="game-play">
						<i class="icon-play"></i>
					</span>
					Times played: ${data.game.times_played}
				</span>
			</div>
			<div id="player-wrap" class="player-wrap">
				<div class="player">
					<:if test="${data.use_bundle}">
						<link rel="stylesheet" type="text/css" href="/public/build/css/compilations/gameplay.css?ver=${data.version}" media="all">
						<:else/>
						<link rel="stylesheet" type="text/css" href="/public/build/css/parts/gameplay.css?ver=${data.version}" media="all">
					</:if>
					<div class="player-holder">
						<iframe id="gameplay_iframe" src="${data.game_player.url}?game=${strtolower(str_replace(' ', '-', ${data.game.name}))}" width="${data.game_player.width}" height="${data.game_player.height}"></iframe>
					</div>
					<div class="player-controls">
						<span class="player-controls-btn" id="play-replay" >
							<i class="icon-spinner"></i>
						</span>
						<span class="player-controls-btn" id="play-fullscreen">
							<i class="icon-enlarge"></i>
						</span>
						<div style="clear: both; height: 1px;width: 1px;"></div>
					</div>
				</div>
			</div>
			<div class="game-info">
				<h3 class="title title-small">Game info</h3>
				<div class="game-info-table">
					<div class="game-info-cell">
						<div class="game-info-title">GAME TYPE</div>
						<div class="game-info-val">${data.game.type}</div>
					</div>
					<div class="game-info-cell">
						<div class="game-info-title">SOFTWARE</div>
						<div class="game-info-val">${data.game.manufacturer}</div>
					</div>
					<div class="game-info-cell">
						<div class="game-info-title">RELEASE DATE</div>
						<div class="game-info-val">${data.game.date_launched}</div>
					</div>
					<div class="game-info-cell">
						<div class="game-info-title">TECHNOLOGY</div>
						<div class="game-info-val">
							<:if test="${data.game.is_flash} && ${data.game.is_html5}">
								Flash, HTML5
							<:elseif test="${data.game.is_flash}">
								Flash
							<:else>
								HTML5
							</:if>
						</div>
					</div>
					<div class="game-info-cell">
						<div class="game-info-sign">
							<:if test="${data.game.is_mobile}">
								<i class="icon-icon_available"></i>
							<:else>
								<i class="icon-icon_unavailable"></i>
							</:if>
						</div>
						<div class="game-info-title">MOBILE</div>
					</div>
					<div class="game-info-cell">
						<div class="game-info-sign">
							<:if test="${data.game.is_3d_animation}">
								<i class="icon-icon_available"></i>
							<:else>
								<i class="icon-icon_unavailable"></i>
							</:if>
						</div>
						<div class="game-info-title">3D ANIMATION</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<:if test="count(${data.recommended_casinos})>0">
		<div class="block related">
			<div class="container">
				<div class="headeing">
					<div class="title title-middle">Play this game for real money at these casinos</div>
				</div>
				<casino:list type="SOFTWARE" id="1" data="${data.recommended_casinos}"/>
			</div>
		</div>
	</:if>

	<:if test="count(${data.recommended_games})>0">
		<div class="block related">
			<div class="container">
				<div class="headeing">
					<div class="title title-middle">Similar games</div>
				</div>
				<game:list data="${data.recommended_games}"/>
			</div>
		</div>
	</:if>
<site:bottom menu="${data.menu_top}"/>
