<site:top title="${data.page_info.head_title}" description="${data.page_info.head_description}" menu="${data.menu_top}" page="games"/>
	<div class="links-games">
		<site:links-carousel items="${data.menu_bottom}"/>
	</div>
	<div class="block">
		<div class="container">
			<div class="headeing">
				<h1 class="title">${data.page_info.body_title}</h1>
				<div class="subtitle">
					<div class="js-condense"><span>${(isset(${data.widgets.upper})?${implode("\n", ${data.widgets.upper})}:"")}</span></div>
				</div>
			</div>
			
			<filter:games total="${data.total_games}" software="${data.software}"/>

			<div class="data-container-holder data-games">
				<div class="holder">
					<div class="data-container" data-type-value="${data.selected_entity}">
						<game:list data="${data.games}"/>
					</div>
					<div class="data-add-container" data-load-total="${data.total_games}"></div>
				</div>
				<filter:reset/>
			</div>

			<:if test="${data.total_games} > count(${data.games})">
				<div class="btn-holder">
					<a href="#" class="btn-bordered load js-more-items">LOAD MORE GAMES</a>
				</div>
			</:if>

		</div>
	</div>
<site:bottom menu="${data.menu_top}"/>