<std:set name="page" value="privacy-policy"/>

<import file="templates/include-header"/>
	<div class="container">
		<div class="heading">
			<h1 class="title">${data.page_info.body_title}</h1>
		</div>
		<div class="plain-text">
			<h2 class="title title-middle">What is this Privacy Policy for?</h2>
			<p>At CasinosLists.com We are committed to protecting the online privacy of visitors to our website.</p>
			<p>CasinosLists.com adheres to and is in compliance with the Safe Harbor Privacy Principles developed in coordination with the European Union's Directive on Data Protection and the U.S. Department of Commerce.</p>
			<p>Furthermore the way this website processes, stores and protects user data and information will also be detailed within this policy page.</p>

			<h2 class="title title-middle">Contact &amp; Communication</h2>
			<p>Users contacting this website and/or its owners do so at their own discretion and provide any such personal details requested at their own risk. Your personal information is kept private and stored securely until a time it is no longer required or has no use, as detailed in the Data Protection Act 1998.</p>
			<p>Every effort has been made to ensure a safe and secure form to email submission process but advise users using such form to email processes that they do so at their own risk.</p>
			<p>This website and its owners use any information submitted to provide you with further information about the products / services they offer or to assist you in answering any questions or queries you may have submitted. This includes using your details to subscribe you to any email newsletter program the website operates but only if this was made clear to you and your express permission was granted when submitting any form to email process. Or whereby you the consumer have previously purchased from or enquired about purchasing from the company a product or service that the email newsletter relates to. This is by no means an entire list of your user rights in regard to receiving marketing material via email account.</p>
			<p>Your details are not passed on to any third parties.</p>

			<h2 class="title title-middle">Use of Cookies</h2>
			<p>Cookies are small files saved to the user's hard drive that track, save and store information about the user's interactions and usage of the website. This allows the website, through its server to provide the users with a tailored experience within this website.</p>
			<p>Users are advised that if they wish to deny the use and saving of cookies from this website on to their computers hard drive they should change their web browsers security settings to block all cookies from this website and its external serving vendors.</p>
			<p>This website uses Google Analytics tracking software to monitor its visitors to better understand how they use it. GA will save a cookie to your computer's hard drive in order to track and monitor your engagement and usage of the website, but will not store, save or collect personal information. Please read Google's privacy policy here for further information: <a target="_blank" rel="nofolow" href="https://www.google.com/policies/privacy/">https://www.google.com/policies/privacy/ .</a></p>
			<p>Other cookies may be stored to your hard drive by external vendors when this website uses referral programs, sponsored links or adverts. Such cookies are used for conversion and referral tracking and typically expire after 30 days, though some may take longer. No personal information is stored, saved or collected.</p>
			<p>Although this website only looks to include quality, safe and relevant external links, users are advised adopt a policy of caution before clicking any external web links mentioned throughout this website. (External links are clickable text / banner / image links to other websites).</p>
			<p>The owners of this website cannot guarantee or verify the contents of any externally linked website despite their best efforts. Users should therefore note they click on external links at their own risk and this website and its owners cannot be held liable for any damages or implications caused by visiting any external links mentioned.</p>

			<h2 class="title title-middle">Adverts and Sponsored Links</h2>
			<p>This website contains sponsored links and adverts. These will typically be served through our advertising partners, to whom may have detailed privacy policies relating directly to the adverts they serve.</p>
			<p>Clicking on any such adverts will send you to the advertisers website through a referral program which may use cookies. This may include the use of cookies which may in turn be saved on your computers hard drive. Users should therefore note they click on sponsored external links at their own risk and this website and its owners cannot be held liable for any damages or implications caused by visiting any external links mentioned.</p>

			<h2 class="title title-middle">Social Media Platforms</h2>
			<p>Communication, engagement and actions taken through external social media platforms that this website and its owners participate on are custom to the terms and conditions as well as the privacy policies held with each social media platform respectively.</p>
			<p>Users are advised to use social media platforms wisely and communicate / engage upon them with due care and caution in regard to their own privacy and personal details. This website nor its owners will ever ask for personal or sensitive information through social media platforms and encourage users wishing to discuss sensitive details to contact them through primary communication channels such as by telephone or email.</p>
			<p>This website uses social sharing buttons which help sharing web content directly from web pages to the social media platforms.</p>
			<p>Users are advised before using such social sharing buttons that they do so at their own discretion and note that social media platforms may track and save your request to share a web page respectively through your social media platform account.</p>
		</div>
	</div>
<import file="templates/include-footer"/>