<std:set name="page" value="search"/>

<div class="container">
	<div class="search">
		<div class="search-btn">
			<button class="button" id="js-search-back"><i class="icon-arrow-left2"></i> Back</button>
		</div>
		<h1 class="search-title">Search results for "<span>${data.value}</span>"</h1>

		<nav class="search-list">
                        <div class="search-list-block">
				<div class="search-list-heading">
					<span>LISTS</span>
					<span>${data.total_lists} Results</span>
				</div>
				<ul id="all-casinos-container">
					<std:foreach var="${data.lists}" key="key" value="result">
						<li><a href="/reviews/${normalize(${result})}-review">${result}</a></li>
					</std:foreach>
				</ul>
				<std:if condition="${data.total_lists} > 4">
					<div class="search-list-more">
						<a href="#" id="js-search-more-casinos">Show <span class="more-num" data-total-casinos="${data.total_lists}">5</span> more <i class="icon-chevron-down"></i></a>
					</div>
				</std:if>
			</div>
                        <div class="search-list-block">
				<div class="search-list-heading">
					<span>CASINOS</span>
					<span>${data.total_casinos} Results</span>
				</div>
				<ul id="all-casinos-container">
					<std:foreach var="${data.casinos}" key="key" value="result">
						<li><a href="/reviews/${normalize(${result})}-review">${result}</a></li>
					</std:foreach>
				</ul>
				<std:if condition="${data.total_casinos} > 4">
					<div class="search-list-more">
						<a href="#" id="js-search-more-casinos">Show <span class="more-num" data-total-casinos="${data.total_casinos}">5</span> more <i class="icon-chevron-down"></i></a>
					</div>
				</std:if>
			</div>
			<div class="search-list-block">
				<div class="search-list-heading">
					<span>GAMES</span>
					<span>${data.total_games} Results <i class=""></i></span>
				</div>
				<ul id="all-games-container">
					<std:foreach var="${data.games}" key="key" value="result">
						<li><a href="/play/${normalize(${result})}">${result}</a></li>
					</std:foreach>
				</ul>
				<std:if condition="${data.total_games} > 4">
					<div class="search-list-more">
						<a href="#" id="js-search-more-pages">Show <span class="more-num" data-total-games="${data.total_games}">5</span> more <i class="icon-chevron-down"></i></a>
					</div>
				</std:if>
			</div>
		</nav>
	</div>
</div>