<std:set name="page" value="terms-and-conditions"/>

<import file="templates/include-header"/>
	<div class="container">
		<div class="heading">
			<h1 class="title">${data.page_info.body_title}</h1>
		</div>
		<div class="plain-text">
			<h2 class="title title-middle">Terms</h2>
			<p>By accessing www.casinoslists.com, you agree to be bound by these website Terms and Conditions of Use, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws.</p>
			<p>If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this web site are protected by applicable copyright laws.</p>

			<h2 class="title title-middle">Use License</h2>
			<p>Permission is granted to temporarily download one copy of the materials (information or software) on www.casinoslists.com web site for personal, non-commercial use only.</p>
			<p>This is the grant of a license, not a transfer of title, and under this license you may not:</p>
			<ul>
				<li>modify or copy the materials;</li>
				<li>use the materials for any commercial purpose, or for any public display (commercial or non-commercial);</li>
				<li>use the materials for any commercial purpose, or for any public display (commercial or non-commercial);</li>
				<li>attempt to decompile or reverse engineer any software contained on www.casinoslists.com website;</li>
				<li>remove any copyright or other proprietary notations from the materials;</li>
				<li>or transfer the materials to another person or "mirror" the materials on any other server.</li>
			</ul>
			<p>This license shall automatically terminate if you violate any of these.</p>
			<p>Upon terminating your viewing of these materials or upon the termination of this license, you must delete any downloaded materials in your possession whether in electronic or printed format.</p>

			<h2 class="title title-middle">Disclaimer</h2>
			<p>The materials on www.casinoslists.com website are provided "as is". CasinosLists makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties, including without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights. Further, www.casinoslists.com does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its Internet website or otherwise relating to such materials or on any sites linked to this site.</p>

			<h2 class="title title-middle">Limitations</h2>
			<p>In no event shall www.casinoslists.com be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption,) arising out of the use or inability to use the materials on this website. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.</p>

			<h2 class="title title-middle">Revisions and Errata</h2>
			<p>The materials appearing on www.casinoslists.com website could include technical, typographical, or photographic errors. www.casinoslists.com does not warrant that any of the materials on its web site are accurate, complete, or current.</p>

			<h2 class="title title-middle">Site Terms of Use Modifications</h2>
			<p>www.casinoslists.com may revise these terms of use for its website at any time without further notice.</p>
		</div>
	</div>
<import file="templates/include-footer"/>