<div class="software-tooltipster tooltipster-base tooltipster-sidetip tooltipster-top tooltipster-grow tooltipster-show">
    <div class="tooltipster-box">
        <div class="tooltipster-content">
            <div class="close_tf_wrap">
                <span>Withdrawal Timeframes</span>
                <span class="time-frame-work-tag-content-column close_tf_popup">
                    <i class="icon-icon_unavailable"></i>
                </span>
            </div>
            <:foreach var="${data.tooltip}" key="key" val="value">
            <div>
                <span class="time-frame-work-tag-content-column">${key}</span>
                <span class="time-frame-work-tag-content-column">${value}</span>
            </div>
            </:foreach>
        </div>  
    </div>
    <div class="tooltipster-arrow">
        <div class="tooltipster-arrow-uncropped">
            <div class="tooltipster-arrow-border"></div>
            <div class="tooltipster-arrow-background"></div>
        </div>
    </div>
</div>