<div role="tooltip" id="ui-id-1" class="ui-tooltip tag-tooltip-wrapper tag-tooltip-full-note ui-widget ui-widget-content" style="top: 773px; left: 1051.5px; display: block;"><div class="ui-tooltip-content">
        <div class="tag-tooltip-head">
            <span class="tag-tooltip-title">Withdrawal Timeframes</span>
            <span class="tag-tooltip-close">
                <svg class="svg-icon"><use xlink:href="#icon-close"></use></svg>
            </span>
        </div>
        <div class="tag-tooltip-body">
            <div class="tag-tooltip-body-top">
                <div class="time-frame-work-tag-content">
                     <:foreach var="${data.tooltip}" key="key" val="value">
                     <div>
                        <span class="time-frame-work-tag-content-column">${key}</span>
                        <span class="time-frame-work-tag-content-column">${value}</span>
                    </div>
                    </:foreach>
                </div>
            </div>
        </div>
    </div><div class="tag-tooltip-arrow bottom center" style="left: 122px;"></div></div>