<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE xml>
<xml>
    <application version="APPLICATION_VERSION" default_content_type="text/html" templates_extension="html">
        <paths>
            <compilations>compilations</compilations>
            <controllers>application/controllers_frontend</controllers>
            <reporters>application/reporters</reporters>
            <renderers>application/renderers</renderers>
            <views>application/views</views>
            <tags>application/taglib</tags>
        </paths>
        <display_errors>
            <ENVIRONMENT>1</ENVIRONMENT>
        </display_errors>
    </application>
</xml>