<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE xml>
<xml>
    <lucinda_db>
        <ENVIRONMENT>
            <schemas>
                <schema>PATH</schema>
            </schemas>
        </ENVIRONMENT>
    </lucinda_db>
</xml>