<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE xml>
<xml>
    <servers>
        <sql>
            <bogdan_local>
                <server driver="mysql" host="localhost" port="3306" username="root" password=""
                        schema="bogdan__casinoslists_main" parent_schema="bogdan__casinoslists_admin" charset="utf8"/>
            </bogdan_local>
        </sql>
        <nosql>
            <bogdan_local>
                <server driver="redis" host="localhost"/>
            </bogdan_local>
        </nosql>
    </servers>
</xml>