<div id="reviews">
	<div class="reviews-form review" id="reviews-form" data-img-dir="${get_flags_dir()}/${data.country.code}.png" data-country="${data.country.code}" data-casino-id="${data.casino.id}">
		<forms:review rating="1"/>
	</div>
	<div class="review-list">
		<div id="review-data-holder">
			<std:if condition="${data.total_reviews} > 0">
				<std:foreach var="${data.reviews}" value="result">
					<item:review class="review-parent"/>
					<item:reply/>
				</std:foreach>
			</std:if>
		</div>

		<std:if condition="${data.total_reviews} > 4">
			<div class="reviews-more">
				<a href="#" class="btn-more js-more-reviews" data-type="review" data-id="0" data-total="${data.total_reviews}" data-page="1">
					Show More Reviews
					<i class="icon-chevron-down"></i>
				</a>
			</div>
		</std:if>
	</div>
</div>