<div class="carousel">
	<div class="container">
		<div class="heading">
			<h2 class="title mobile-flex">
				<span>Pick Best Casinos</span> 
				<a href="/casinos/best" class="text-link mobile">SHOW ALL <i class="icon-chevron-right"></i></a>
			</h2>
			<div class="subtitle">
				<p>Very few of the casinos we review attain a 5 star rating. High quality software, great games, and fast and convenient withdrawal processing are all a prerequisite.</p>
				<div class="heading-btn desktop">
					<a href="/casinos/best" class="button">Show all <i class="icon-chevron-right"></i></a>
				</div>
			</div>
		</div>
	</div>
    <div class="container">
        <div class="swiper-container" id="main-carousel">
            <div class="swiper-wrapper">
            	<std:foreach var="${data.best_casinos}" value="item">
	                <div class="swiper-slide">
	                	<a href="/reviews/${normalize(${item.name})}-review" class="carousel-slide">
	                		<div class="carousel-slide-img">
	                			<div>
	                				<img src="${get_img_dir()}/casino_logo_dark/124x82/${normalize_logo(${item.name})}.png" width="85" height="56" alt="">
	                			</div>
		                		<div class="carousel-slide-rating ${normalize(get_rating(${item.rating}))}">
			                		${ceil(${item.rating})}
			                	</div>
	                		</div>
	                		<div class="carousel-slide-bottom">
	                			<div class="carousel-slide-title">${item.name}</div>
	                		</div>
	                	</a>
	                </div>
                </std:foreach>
            </div>
        </div>
        <div class="carousel-next">
        	<i class="icon-chevron-right"></i>
        </div>
        <div class="carousel-prev">
        	<i class="icon-chevron-left"></i>
        </div>
    </div>
</div>