		</div>
		<footer class="footer">
			<div class="container">
				<nav class="footer-nav">
					<ul>
						<li><a class="${get_active(${page}, 'casinos')}" href="/casinos">CASINOS</a></li>
						<li><a class="${get_active(${page}, 'softwares')}" href="/softwares">SOFTWARES</a></li>
						<li><a class="${get_active(${page}, 'bonus-list')}" href="/bonus-list">BONUSES</a></li>
						<li><a class="${get_active(${page}, 'countries')}" href="/countries">COUNTRIES</a></li>
						<li><a class="${get_active(${page}, 'compatability')}" href="/compatability">COMPATIBILITY</a></li>
						<li><a class="${get_active(${page}, 'banking')}" href="/banking">BANKING</a></li>
						<li><a class="${get_active(${page}, 'features')}" href="/features">FEATURES</a></li>
						<li><a class="${get_active(${page}, 'games')}" href="/games">GAMES</a></li>
					</ul>
				</nav>
				<nav class="footer-nav">
					<ul>
						<li><a href="/terms">TERMS &amp; CONDITIONS</a></li>
						<li><a href="/privacy">PRIVACY POLICY</a></li>
						<li><a href="#">STAY AWAY CASINOS</a></li>
						<li><a href="/contact">CONTACT US</a></li>
					</ul>
				</nav>
				<div class="footer-logo">
					<div class="notice-logo">
						<i class="icon-plus-icon"><i class="path1"></i><i class="path2"></i><i class="path3"></i></i>
					</div>
					<i class="icon-begambleaware"></i>
				</div>
				<div class="subscribe">
					<h4 class="subscribe-title">Subscribe to our newsletter</h4>
					<div class="subscribe-subtitle">Subscribe to our newsletter and get exlusive deals you wont find anywhere else straight to ypu inbox!</div>
					<div class="subscribe-form">
						<input class="textfield news-email" type="text" placeholder="Enter your email address... ">
						<input class="form-btn news-btn" type="submit" value="SUBSCRIBE TO NEWSLETTER">
					</div>
					<div class="not-valid action-field" id="news-note">
						Please fill in the required fields.
					</div>
					<div class="success action-field" id="news-success">
						Thank you! Your email was successfully sent.
					</div>
				</div>
				<import file="templates/include-social"/>
			</div>
			<div class="footer-copy">CasinosLists.com &copy; 2001-${date("Y")} All Rights Reserved.</div>
		</footer>
	</div>
	<div class="overlay"></div>
	<script src="${get_public_dir()}/js/assets.js"></script>
	<script src="${get_public_dir()}/js/custom.js?ver=0.0.5"></script>
</body>
</html>