<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <title>Casinos Lists</title>
    <meta name="description" content="Page Description">
    <link rel="icon" type="image/png" href="/public/favicon.ico?ver=0.0.1"/>
    <link rel="stylesheet" type="text/css" href="${get_public_dir()}/css/all.css?ver=0.0.8" media="all">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
</head>
<body data-page="">

	<div class="wrapper">
		<header class="header">
			<div class="container">
				<a href="#" class="mobile-menu" id="js-mobile-menu-opener">
					<i class="icon-menu_icon"></i>
				</a>
				<div class="header-logo">
					<a href="/" class="logo">
						<i class="icon-logo"><i class="path1"></i><i class="path2"></i></i>
					</a>
				</div>
				<a href="#" class="header-search-mobile js-mobile-search-opener js-trigger-search">
					<i class="icon-search"></i>
				</a>
				<nav class="header-menu">
					<a href="#" class="mobile-menu-close" id="js-mobile-menu-close">
						<i class="icon-arrow-left2"></i>
					</a>
					<ul>
						<li class="mobile">
							<a href="/" class="${get_active(${page}, 'index')}">HOMEPAGE</a>
						</li>
						<import file="templates/include-menu"/>
					</ul>
				</nav>
				<div class="header-search" id="search" data-img-dir="${get_img_dir()}">
					<a href="#" class="header-search-btn js-search-opener js-trigger-search">
						<i class="icon-search"></i>
					</a>
					<div class="header-search-input" id="search-form">
						<div class="header-search-mobile">
							<a href="#" class="mobile-menu-close js-mobile-search-close">
								<i class="icon-arrow-left2"></i>
							</a>
						</div>
						<input type="text" placeholder="Search here">
						<div class="header-search-mobile">
							<a href="#" class="mobile-search-clear js-mobile-search-clear">
								<i class="icon-icon_plus"></i>
							</a>
						</div>
					</div>
					<a href="#" class="header-search-close js-search-close">
						<i class="icon-icon_plus"></i>
					</a>
					<div class="search-drop js-search-drop">
						<div id="search-empty"> Sorry, there are no suggestions for your query. </div>
						<nav class="search-list search-results">
							<div class="search-list-block" id="search-casinos">
								<div class="search-list-heading">
									<span>CASINOS</span>
								</div>
								<ul></ul>
							</div>
							<div class="search-list-block" id="search-pages">
								<div class="search-list-heading">
									<span>GAMES</span>
								</div>
								<ul></ul>
							</div>
						</nav>
						<div class="search-all-holder">
							<a href="#" class="btn btn-middle fullwide" id="search-all">SHOW ALL RESULTS</a>
						</div>
					</div>
				</div>
			</div>
		</header>

		<std:if condition="${page} == 'index'">
			<div class="promo ">
				<div class="promo-img">
					<img src="/public/build/images/text-header/home-img.jpg" width="1920" height="320" alt="">
				</div>
				<div class="promo-text">
					<h1 class="promo-title">
						<span>Welcome to</span> <br> 
						<strong>CASINOSLISTS.COM</strong>
					</h1>
					<div class="promo-icon">
						<i class="icon-crown"></i>
					</div>
					<h3 class="promo-subtitle">Best Online Casino Lists &amp; Bonuses updated on a daily basis.</h3>
				</div>
			</div>
		</std:if>

		<div class="main">