		</div>
		<footer class="footer">
			<div class="container">
				<nav class="footer-nav">
					<ul>
						<import file="templates/include-menu"/>
					</ul>
				</nav>
				<nav class="footer-nav">
					<ul>
						<li><a href="/terms">TERMS &amp; CONDITIONS</a></li>
						<li><a href="/privacy">PRIVACY POLICY</a></li>
						<li><a href="/casinos/stay-away">STAY AWAY CASINOS</a></li>
						<li><a href="/contact">CONTACT US</a></li>
					</ul>
				</nav>
				<div class="footer-logo">
					<div class="notice-logo">
						<i class="icon-plus-icon"><i class="path1"></i><i class="path2"></i><i class="path3"></i></i>
					</div>
					<i class="icon-begambleaware"></i>
				</div>
				<div class="subscribe">
					<h4 class="subscribe-title">Subscribe to our newsletter</h4>
					<div class="subscribe-subtitle">Subscribe to our newsletter and get exclusive deals you won't find anywhere else straight to your inbox!</div>
					<div class="subscribe-form">
						<input class="textfield news-email" type="text" placeholder="Enter your email address... ">
						<input class="form-btn news-btn" type="submit" value="SUBSCRIBE TO NEWSLETTER">
					</div>
					<div class="not-valid action-field" id="news-note">
						Please fill in the required fields.
					</div>
					<div class="success action-field" id="news-success">
						Thank you! Your email was successfully sent.
					</div>
				</div>
				<import file="templates/include-social"/>
			</div>
			<div class="footer-copy">CasinosLists.com &copy; 2001-${date("Y")} All Rights Reserved.</div>
		</footer>
	</div>
	<div class="overlay"></div>
	<import file="templates/include-css-loader"/>
	<script src="${get_public_dir()}/js/assets.js?ver=0.0.1"></script>
	<script src="${get_public_dir()}/js/custom.js?ver=0.1.9"></script>
</body>
</html>