<div class="box box-alt2">
	<div class="title title-middle">Banking</div>
	<div class="def-column">
		<div class="def-column-item">
			<div class="def-column-key">Minimum withdrawal</div>
			<div class="def-column-val">$/€/£10</div>
		</div>
		<div class="def-column-item">
			<div class="def-column-key">Withdrawal limits</div>
			<div class="def-column-val">
				<p>$/€/£10,000 per week</p>
				<p>$/€/£30,000 per month</p>
			</div>
		</div>
		<div class="def-column-item">
			<div class="def-column-key">Withdrawal pending time</div>
			<div class="def-column-val">
				<p>Ewallets - 1-2 business days</p>
				<p>Wire Transfer - 7-10 business days</p>
				<p>Cheques - 3-5 business days</p>
				<p>Credit cards - 6-8 business days</p>
			</div>
		</div>
		<div class="def-column-item">
			<div class="def-column-key">Deposit methods</div>
			<div class="def-column-val">
				<p>giropay, iDEAL, MasterCard, Neteller, Paysafe Card, Skrill Moneybookers, Trustly, Visa, WebMoney, Wirecard, Wire Transfer</p>
			</div>
		</div>
		<div class="def-column-item">
			<div class="def-column-key">Withdrawal methods</div>
			<div class="def-column-val">
				<p>giropay, iDEAL, MasterCard, Neteller, Paysafe Card, Skrill Moneybookers, Trustly, Visa, WebMoney, Wirecard, Wire Transfer</p>
			</div>
		</div>
	</div>
</div>