<div class="box">
	<div class="title title-small">Info</div>
	<div class="def-list">
		<div class="def-list-item">
			<div class="def-list-key">Country</div>
			<div class="def-list-val">
				<img src="images/flags/UA.png" alt="" width="15" height="12">
				United States accepted
			</div>
		</div>
		<div class="def-list-item">
			<div class="def-list-key">Languages</div>
			<div class="def-list-val">
				<i class="icon-icon_unavailable"></i>
				English
			</div>
		</div>
		<div class="def-list-item">
			<div class="def-list-key">Currencies</div>
			<div class="def-list-val">
				<i class="icon-icon_available"></i>
				USD
			</div>
		</div>
		<div class="def-list-item">
			<div class="def-list-key">Software</div>
			<div class="def-list-val">RTG <span class="bubble bubble-long js-tooltip" title="NetEnt, Playtech, RTG, BetOnSoft, NYX Interactive, NextGen Gaming, Betdigital, Tabcat, Games">+5</span></div>
		</div>
		<div class="def-list-item">
			<div class="def-list-key">Live dealer</div>
			<div class="def-list-val">Yes</div>
		</div>
		<div class="def-list-item">
			<div class="def-list-key">Established</div>
			<div class="def-list-val">Mar 01, 2017</div>
		</div>
		<div class="def-list-item">
			<div class="def-list-key">Email</div>
			<div class="def-list-val">
				<span class="wrapletters">info@jackpotcapitalsupport.eu</span>
			</div>
		</div>
		<div class="def-list-item">
			<div class="def-list-key">Phone</div>
			<div class="def-list-val">
				General: +1 678-349-0095 <br>
				USA: +1 800-571-7009
			</div>
		</div>
		<div class="def-list-item">
			<div class="def-list-key">Live chat</div>
			<div class="def-list-val">No</div>
		</div>
		<div class="def-list-item">
			<div class="def-list-key">Jurisdiction (license)</div>
			<div class="def-list-val">Curacao, Malta</div>
		</div>
		<div class="def-list-item">
			<div class="def-list-key">Certified by</div>
			<div class="def-list-val">Gambleaware</div>
		</div>
		<div class="def-list-item">
			<div class="def-list-key">Affiliate Program</div>
			<div class="def-list-val">Ellmount Gaming</div>
		</div>
	</div>
</div>