<div class="bonus-box bonus-{{type}}">
	<div class="bonus-box-heading">{{title}}</div>
	<div class="bonus-box-body">
		<div class="bonus-box-btn dashed">300-match, free 1000</div>
		<ul class="bonus-box-list">
			<li> 
				<span class="bonus-box-list-label">Wagering</span>
				<strong>20xB</strong> 
			</li>
			<li>
				<span class="bonus-box-list-label">Games allowed</span>
				<strong class="list-item-flex">
					<span class="list-item-trun">{{text}}</span>
					<span class="bubble js-tooltip" title="Alpha Squad Origins Captain Shockwave, Starburst, Bucksy Malone, Saucify City of Gold">More</span>
				</strong>
			</li>
			<li>
				<span class="bonus-box-list-label">Min. deposit</span>
				<strong>$/€/£25</strong>
			</li>
		</ul>
	</div>
	<div class="bonus-box-circle">
		<i class="{{icon}}"></i>
	</div>
</div>