<div class="carousel">
	<div class="container">
		<div class="heading">
			<h2 class="title mobile-flex">
				<span>Pick Best Casinos</span> 
				<a href="#" class="text-link mobile">SHOW ALL <i class="icon-chevron-right"></i></a>
			</h2>
			<div class="subtitle">
				<p></p>
				<div class="heading-btn desktop">
					<a href="#" class="button">Show all <i class="icon-chevron-right"></i></a>
				</div>
			</div>
		</div>
	</div>
    <div class="container">
        <div class="swiper-container" id="main-carousel">
            <div class="swiper-wrapper">
            	{{#each carousel.items}}
	                <div class="swiper-slide">
	                	<a href="#" class="carousel-slide">
	                		<div class="carousel-slide-img">
	                			<div>
	                				<img src="{{img}}" width="85" height="56" alt="">
	                			</div>
		                		<div class="carousel-slide-rating">{{rating}}</div>
	                		</div>
	                		<div class="carousel-slide-bottom">
	                			<div class="carousel-slide-title">{{title}}</div>
	                		</div>
	                	</a>
	                </div>
                {{/each}}
            </div>
        </div>
        <div class="carousel-next">
        	<i class="icon-chevron-right"></i>
        </div>
        <div class="carousel-prev">
        	<i class="icon-chevron-left"></i>
        </div>
    </div>
    <!-- <div class="container">
    	<div class="align-right">
    		<a href="#" class="text-link">Show all <i class="icon-arr-right"></i></a>
    	</div>
    </div> -->
</div>