<div class="list">
	{{#if empty}}
		<div class="empty-content">Sorry, no results were found.</div>
		<a href="#" class="btn">RESET FILTERS</a>
	{{else}}
		<div class="list-heading list-item">
			<div class="list-item-cell list-heading-title">CASINO</div>
			<div class="list-item-cell list-heading-title">{{var-cell}}</div>
			<div class="list-item-cell list-heading-title"><span>FIRST DEPOSIT</span> BONUS</div>
			<div class="list-item-cell list-heading-title">FREE BONUS</div>
			<div class="list-item-cell list-heading-title">&nbsp;</div>
		</div>
		<div class="list-body">
			{{#each items}}
				<div class="list-item">
					<div class="list-item-cell">
						<div class="list-flex">
							<div class="list-flag">
								<img src="images/flags/UA.png" width="30" height="20" alt="">
							</div>
							<div class="list-rating {{score-class}}">
								<div class="list-rating-wrap">
									<div class="list-rating-score">{{score}}</div>
									<div class="list-rating-text">{{score-text}}</div>
								</div>
							</div>
							<a href="#" class="list-title">{{name}}</a>
						</div>
					</div>
					<div class="list-item-cell">
						<div class="multirow">
							<div class="list-item-flex">
								<span class="list-item-trun">1x2 Gaming</span> 
								<span class="bubble bubble-long js-tooltip" title="NetEnt, Playtech, RTG, BetOnSoft, NYX Interactive, NextGen Gaming, Betdigital, Tabcat, Games">+2</span>
							</div>
						</div>
					</div>
					<div class="list-item-cell">
						<span class="btn-round js-tooltip-content" data-tooltip-content="#tooltip-{{../type}}-{{@index}}">{{fdb}}</span>
						<div class="tooltip-templates">
							<div id="tooltip-{{../type}}-{{@index}}" class="tooltip-content">
								<div class="tooltip-templates-heading">
									<h2 class="tooltip-templates-title">Jackpot Capital Casino First Deposit Bonus</h2>
									<div class="tooltip-templates-button">
										<a href="#" class="btn btn-small">VISIT CASINO</a>
									</div>
								</div>
								<div class="tooltip-templates-body">
									<div class="bonus-box bonus-first">
										<div class="bonus-box-heading">200% + 100 FS First Deposit Bonus</div>
										<div class="bonus-box-body">
											<div class="bonus-box-btn dashed">300-match, free 1000</div>
											<ul class="bonus-box-list">
												<li> 
													<span class="bonus-box-list-label">Wagering</span>
													<strong>20xB</strong> 
												</li>
												<li>
													<span class="bonus-box-list-label">Games allowed</span>
													<strong class="list-item-flex">
														<span class="list-item-trun">Age of Gods Wagering Wagering</span>
														<span class="bubble js-tooltip" title="Alpha Squad Origins Captain Shockwave, Starburst, Bucksy Malone, Saucify City of Gold">More</span>
													</strong>
												</li>
												<li>
													<span class="bonus-box-list-label">Min. deposit</span>
													<strong>$/€/£25</strong>
												</li>
											</ul>
										</div>
										<div class="bonus-box-circle"><i class="icon-cilinders"></i></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="list-item-cell">
						{{#if db}}
							<span class="btn-round js-tooltip-content" data-tooltip-content="#tooltip-{{../type}}-free-{{@index}}">{{db}}</span>
							<div class="tooltip-templates">
								<div id="tooltip-{{../type}}-free-{{@index}}" class="tooltip-content">
									<div class="tooltip-templates-heading">
										<h2 class="tooltip-templates-title">Jackpot Capital Casino Free Bonus</h2>
										<div class="tooltip-templates-button">
											<a href="#" class="btn btn-small">VISIT CASINO</a>
										</div>
									</div>
									<div class="tooltip-templates-body">
										<div class="bonus-box bonus-free">
											<div class="bonus-box-heading">100 Free Spins</div>
											<div class="bonus-box-body">
												<div class="bonus-box-btn dashed">no code required</div>
												<ul class="bonus-box-list">
													<li> 
														<span class="bonus-box-list-label">Wagering</span>
														<strong>20xB</strong> 
													</li>
													<li>
														<span class="bonus-box-list-label">Games allowed</span>
														<strong>Age of Gods...</strong>
													</li>
													<li>
														<span class="bonus-box-list-label">Min. deposit</span>
														<strong>$/€/£25</strong>
													</li>
												</ul>
											</div>
											<div class="bonus-box-circle"><i class="icon-cilinders"></i></div>
										</div>
									</div>
								</div>
							</div>
						{{/if}}
					</div>
					<div class="list-item-cell">
						<div class="list-flex">
							<a href="#" class="btn btn-small">Visit</a>
							<a href="#" class="btn btn-circle">
								<i class="icon-chevron-right"></i>
							</a>
						</div>
					</div>
				</div>
			{{/each}}
		</div>
	{{/if}}
</div>