<div class="casinos-nav">
  <div class="container">
    <div class="swiper-container" id="casinos-nav">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
              <a href="#">United States Casinos</a>
            </div>
            <div class="swiper-slide">
              <a href="#" class="active">RTG Casinos</a>
            </div>
            <div class="swiper-slide">
              <a href="#">No Deposit Casinos</a>
            </div>
            <div class="swiper-slide">
              <a href="#">Best Casinos</a>
            </div>
            <div class="swiper-slide">
              <a href="#">Safe Casinos</a>
            </div>
            <div class="swiper-slide">
              <a href="#">New Casinos</a>
            </div>
            <div class="swiper-slide">
              <a href="#">Recommended Casinos</a>
            </div>
            <div class="swiper-slide">
              <a href="#">Recommended Casinos</a>
            </div>
            <div class="swiper-slide">
              <a href="#">United States Casinos</a>
            </div>
            <div class="swiper-slide">
              <a href="#">RTG Casinos</a>
            </div>
            <div class="swiper-slide">
              <a href="#">No Deposit Casinos</a>
            </div>
            <div class="swiper-slide">
              <a href="#">Best Casinos</a>
            </div>
            <div class="swiper-slide">
              <a href="#">Safe Casinos</a>
            </div>
            <div class="swiper-slide">
              <a href="#">New Casinos</a>
            </div>
            <div class="swiper-slide">
              <a href="#">Recommended Casinos</a>
            </div>
            <div class="swiper-slide">
              <a href="#">Recommended Casinos</a>
            </div>
        </div>
    </div>
  </div>
</div>