<div class="casino-review">
	<div class="container">
		<div class="casino-review-heading">
			<div class="casino-review-heading-left">
				<h1 class="casino-review-title">Jackpot Capital Casino Review</h1>
				<div class="btn-group">
					<a href="#" class="btn-bordered">PLAYER REVIEWS</a>
					<a href="#" class="btn btn-middle" target="_blank" rel="nofollow">PLAY NOW</a>
				</div>
			</div>
			<div class="casino-review-heading-right">
				<div class="casino-review-heading-img">
					<img src="images/casino-logos/21-dukes-moons.png" alt="" width="124" height="82">
				</div>
				<div class="list-rating excellent">
					<div class="list-rating-wrap">
						<div class="list-rating-score">9</div>
						<div class="list-rating-text">Excellent</div>
					</div>
				</div>
			</div>

			<div class="btn-group btn-group-mobile">
				<a href="#" class="btn-bordered">PLAYER REVIEWS</a>
				<a href="#" class="btn btn-middle" target="_blank" rel="nofollow">PLAY NOW</a>
			</div>
		</div>
	</div>
</div>