<div class="filter filter-alt">
	<div class="qty-items">556 results</div>
	<div class="filter-group">
		<div class="filter-select">
			<div class="filter-label">Filter by:</div>
			<div class="filter-select-holder">
				<select class="select js-filter">
					<option>Game software</option>
					<option>Game software</option>
					<option>Game software</option>
					<option>Game software</option>
				</select>
			</div>
		</div>
		<div class="filter-sort">
			<div class="filter-label">Sort by:</div>
			<div class="filter-sort-buttons">
				<a href="#" class="active">Default</a>
				<a href="#">Most played</a>
				<a href="#">Newest</a>
			</div>
		</div>
	</div>
</div>