<div id="reviews" class="reviews">
	{{>reviews-form}}

	<div class="review-list">
		{{#each items}}
			<div class="review review-parent {{owner}}">
				<div class="review-wrap">
					<div class="review-info">
						<div class="review-info-top">
							<div class="review-flag">
								<img src="images/flags/UA.png" alt="" width="15" height="12">
							</div>
							<div class="review-info-body">
								<div class="review-name">{{title}}</div>
								<div class="review-date">24.04.2017</div>
							</div>
						</div>
						<div class="list-rating excellent">
							<div class="list-rating-wrap">
								<div class="list-rating-score">9</div>
								<div class="list-rating-text">Excellent</div>
							</div>
						</div>
					</div>
					<div class="review-body">
						<div class="review-text">
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
						</div>
						<div class="review-underline">
							<a href="#" class="review-replies js-reply-btn">Reply</a>
							<div class="votes">
								<a href="#" class="votes-like">
									<i class="icon-icon_likes"></i>
									<span class="bubble bubble-vote">1</span>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="reply">
					<div class="reply-body">
						{{>form-comment}}
					</div>
					<div class="review review-child">
						<div class="review-wrap">
							<div class="review-info">
								<div class="review-info-top">
									<div class="review-flag">
										<img src="images/flags/UA.png" alt="" width="15" height="12">
									</div>
									<div class="review-info-body">
										<div class="review-name">{{title}}</div>
										<div class="review-date">24.04.2017</div>
									</div>
								</div>
							</div>
							<div class="review-body">
								<div class="review-text">
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
								</div>
								<div class="review-underline">
									<a href="#" class="review-replies js-reply-btn">Reply</a>
									<div class="votes">
										<a href="#" class="votes-like">
											<i class="icon-icon_likes"></i>
											<span class="bubble bubble-vote">1</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="review review-child {{owner}}">
						<div class="review-wrap">
							<div class="review-info">
								<div class="review-info-top">
									<div class="review-flag">
										<img src="images/flags/UA.png" alt="" width="15" height="12">
									</div>
									<div class="review-info-body">
										<div class="review-name">{{title}}</div>
										<div class="review-date">24.04.2017</div>
									</div>
								</div>
							</div>
							<div class="review-body">
								<div class="review-text">
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
								</div>
								<div class="review-underline">
									<a href="#" class="review-replies js-reply-btn">Reply</a>
									<div class="votes">
										<a href="#" class="votes-like">
											<i class="icon-icon_likes"></i>
											<span class="bubble bubble-vote">1</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					{{#if more}}
						<div class="review-more">
							<a href="#" class="btn-more">
								SHOW 2 MORE REPLIES
								<i class="icon-chevron-down"></i>
							</a>
						</div>
					{{/if}}
				</div>
			</div>
		{{/each}}
		<div class="reviews-more">
			<a href="#" class="btn-more">
				Show More Reviews
				<i class="icon-chevron-down"></i>
			</a>
		</div>
	</div>
</div>