$color-text:#60686A;
$color-links:#60686A;
$color-links-hover:#60686A;

$common-color: #2171CE;

$bg: #fff;

$shadow: 0px 3px 8px rgba(0, 0, 0, .16);


$common-font: 'Open Sans', Helvetica, Arial, sans-serif;
$second-font: 'Roboto', Helvetica, Arial, sans-serif;